<section class="py-5 flex justify-center text-slate-600">
    <div class="flex flex-col gap-2 justify-center">
        <div class="flex flex-row gap-3">
            <p class="">API</p>
            <p class="">RSS</p>
            <a class="flex flex-row gap-1 align-middle items-center">
                Contribute
            </a>
            <p class="">Contact</p>
        </div>
        <div class="flex justify-center">
            <p class="">website by me</p>
        </div>
    </div>
    {{ if .session_user }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('logout').addEventListener('click', function () {
                Cookies.remove('auth-session');
                window.location.href = '/auth/logout';
            })
        });
    </script>
    {{ end }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('scroll', function (e) {
                const scrollY = window.scrollY;
                const nav = document.getElementById('nav');
                const navTop = nav.offsetTop;
                const toolbar = document.getElementById('toolbar');
                const toolbarTop = toolbar.offsetTop - 50;
                const projects = document.getElementById('projects');
                const projectsTop = projects.offsetTop;
                const projectsWidth = projects.offsetWidth - 10;
                console.log("PRoject width", projectsWidth)
                const tclass = ['fixed', 'top-3', 'z-10'];
                if (scrollY < projectsTop) {
                    tclass.forEach((c) => {
                        toolbar.classList.remove(c);
                    });
                    toolbar.style.width = '';
                    nav.classList.remove('bg-black');
                    
                    } else {
                        tclass.forEach((c) => {
                            toolbar.classList.add(c);
                        });
                        toolbar.style.width = `${projectsWidth}px`;
                        nav.classList.add('bg-black');
                }
            });
        });


    </script>
</section>
