<section class="py-5 flex justify-center text-slate-600">
    <div class="flex flex-col gap-2 justify-center">
        <div class="flex flex-row gap-3">
            <p class="">API</p>
            <p class="">RSS</p>
            <a class="flex flex-row gap-1 align-middle items-center">
                Contribute
            </a>
            <p class="">Contact</p>
        </div>
        <div class="flex justify-center">
            <p class="">website by me</p>
        </div>
    </div>
    {{ if .session_user }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('logout').addEventListener('click', function () {
                console.log('logout');
                Cookies.remove('auth-session');
                window.location.href = '/auth/logout';
            })  

        });
    </script>
    {{ end }}
</section>
