<div class="flex flex-row gap-4">
    <div id="projects" class="flex flex-col gap-4 max-w-xl" hx-swap="innerHTML">
        <div class="flex flex-row justify-between">
            <div class="text-sm text-slate-100 flex flex-row gap-1">
                <button class="flex flex-row gap-1 text-slate-400 font-bold justify-start align-middle items-center" hx-get="/ui/projects/all?page=1&sort_by=new" hx-target="#projects" hx-swap="outerHTML">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                    </svg>
                    New
                </button>
                <button class="flex flex-row gap-1 text-slate-400 font-bold justify-start align-middle items-center" hx-get="/ui/projects/all?page=1&sort_by=best" hx-target="#projects">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
                    </svg>
                    Best
                </button>
            </div>
            <div class="text-sm text-slate-100">
                <a class="flex flex-row gap-1 text-slate-400 font-bold justify-start align-middle items-center" href="/create">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Submit
                </a>
            </div>
        </div>
        <div id="projects" class="flex flex-col gap-3">
            {{ range .projects }}
                {{ template "single-project.html" .}}
            {{end}}
        </div>
        <div class="flex flex-row justify-center align-middle items-center">
            <div class="text-slate-400 text-sm">
                <button class="text-md" hx-get="/ui/projects/all?page={{ .nextPage }}&sort_by={{.sortBy}}" hx-target="#projects" hx-swap="innerHTML">next page</button>
            </div>
        </div>
    </div>
</div>