<div id="project-{{ .ID }}" class="p-5 rounded-xl gap-4 border-slate-600 border hover:bg-slate-950 w-full">
    <div class="flex flex-col gap-1 overflow-hidden">
        <div class="flex flex-col gap-0">
            <div class="flex flex-row gap-1 align-middle items-center">
                <a
                    href="/{{ .ID }}"
                    class="flex flex-row gap-2 text-xl font-bold text-slate-100 cursor-pointer"
                >
                    {{ .Title }}
                </a>
                <a href="/users/{{.AuthorID}}" class="text-xs font-bold text-slate-400">by {{ .AuthorID }}</a>
                <a href="{{ .Link }}" class="text-red-500 cursor-pointer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-red-500 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
                <div class="text-xs text-slate-600">
                    {{ .CreatedAt }}
                </div>
            </div>
            <div class="flex flex-row gap-1 text-xs">
                {{ range .Tags }}
                    <span class="text-xs text-slate-400 hover:text-slate-200 cursor-pointer border border-slate-600 rounded-sm pl-1 pr-1">#{{ . }}</span>
                {{ end }}
            </div>
        </div>
        <div class="w-full bg-slate-950">
            <img src="http://placehold.it/500" class="w-full h-auto" alt="project image">
        </div>
        <div class="flex flex-col">
            <a href="/{{.ID}}" class="text-sm text-slate-300 cursor-pointer truncate">
                {{ .Content }}
            </a>
        </div>
        <div class="w-full bg-slate-950" style="height:1px"></div>
        <div class="flex flex-row gap-2">
            {{ template "component-vote-project.html" . }}
            <a href="/{{ .ID }}" class="text-xs text-slate-400 cursor-pointer border border-slate-600 rounded-xl p-1 pl-2 pr-2">
                {{ .CommentsTotal }} Comments
            </a>
        </div>
    </div>
</div>